h1 {
    color: #27aedb;
    text-align: center;
    }
    

button{
    color: #27aedb;
    text-align: center;
    justify-content: center;
    align-items: center;
}

li{
    list-style: none;
    margin: 1rem;
}
.remove-btn{
    margin: 0rem 5rem;
}